<a href="#" {{action "triggerUpload"}} class="btn btn-primary">{{buttonLabel}}</a>
<form action={{formUrl}}  id={{formName}} enctype="multipart/form-data" class="upload-form" method="post">
  <input class="input_field" multiple="multiple" type="file" value="file" name="file" accept="audio/*|video/*|image/*|MIME_type"/>
</form>
