
{{#link-to "clients" class="btn btn-default"}}Back{{/link-to}}
<div class="float-clear"></div>
<br>

<table class="table">
  <thead>
    <th>Date</th>
    <th>Filename</th>
  </thead>
  <tbody>
  {{#each model as |upload|}}
    <tr>
      <td>{{upload.humanCreatedAt}}</td>
      <td>{{upload.name}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

  {{upload-container}}
