{{#link-to "clients" class="btn btn-default"}}Back{{/link-to}}
<br>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      {{input type="text" value=name}}
    </div>
  </div>
  <div class="btn btn-success" {{action "createClient"}}>Create</div>
</form>
